<div *ngFor="let fund of funds">
    <div>
        <a [routerLink]="['/funds/', fund.id ]">
            <h3>{{fund.company}}</h3>
        </a>
        <h4>Stock Info</h4>
        <p>Open: {{fund.open}}</p>
        <p>Volume: {{fund.volume}}</p>
        <p>Range Today: {{fund.todaysRange}}</p>
        <p>Yearly Range: {{fund.yearlyRange}}</p>
        <p>Market Cap: {{fund.martketCap}}</p>
        <h4>Company Info</h4>
        <p>Sector: {{fund.sector}}</p>
        <p>Industry: {{fund.industry}}</p>
        <p>Headquarters Location: {{fund.headquarters}}</p>
    </div>
</div>