<div>
    <button routerLink="/funds/create" type="button" class="btn btn-info">
        Create Company Listing
    </button>
</div>
<div class="row" *ngFor="let fund of funds">
    <ul class="list-group list-group-flush" >
        <li class="list-group-item">
            <h3>{{fund.company}}</h3>
                <button [routerLink]="['/funds/', fund.id ]" type="button" class="btn btn-warning">
                    View This Company
                </button>
            <hr>
        </li>
    </ul>
</div>